@import "~antd/dist/antd.css";
.App {
  min-height: 100vh;
  background-color: #282c34;
  position: relative;
}

.App-content {
  width: 935px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.item--clear-float {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.item--float-left {
  float: left;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(50, 50, 50, 0.3);
}

::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: rgba(50, 50, 50, 0.1);
}
